[db]
hostname = localhost
username = root
password = myp5ss
database = rsp


[navigation_main]
Časopis = "main-casopis.php"
Informace = "main-info.php"
Galérie = "gallery.php"

[navigation_author]
Přidat članek = "article.php"

[navigation_reviewer]
Recenze = "main-review.php"

[navigation_editor]
Članky = "main-clanky.php"

[navigation_chief]
Udalosti = "actions.php"
Članky = "main-clanky.php"